<!DOCTYPE html>
<html style="/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=100">
    <title>PyERP</title>
    <link rel="stylesheet" href="css/bulma.min.css">
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
  </script>
</head>

<body style="height: 100%; background-color: #00D1B2;">
    <section class="hero is-primary min-height: 100vh">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">

                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body min-height: 100vh background-image:url('bg.jpeg')">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>