<!DOCTYPE html>
<html lang="{{ session['language'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PyERP{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">{{ g.translations['Home'] }}</a>
                {% if current_user.is_authenticated %}
                <a class="navbar-item" href="/core/dashboard">{{ g.translations['Dashboard'] }}</a>
                <a class="navbar-item" href="/auth/logout">{{ g.translations['Logout'] }}</a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a class="navbar-item" href="/auth/login">{{ g.translations['Login'] }}</a>
                {% endif %}
                <a class="navbar-item" href="/inventory/inventory">{{ g.translations['Inventory'] }}</a>
                <a class="navbar-item" href="/fin/sales">{{ g.translations['Sales'] }}</a>
                <a class="navbar-item" href="/fin/purchases">{{ g.translations['Purchases'] }}</a>
                <a class="navbar-item" href="/pro/design">{{ g.translations['Design Center'] }}</a>
                <a class="navbar-item" href="/dev/report">{{ g.translations['Report A Bug'] }}</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form action="{{ url_for('set_language') }}" method="POST">
                        <div class="select">
                            <select name="language" onchange="this.form.submit()">
                                <option value="en_US" {% if session['language'] == 'en_US' %}selected{% endif %}>English (US)</option>
                                <option value="zh_CN" {% if session['language'] == 'zh_CN' %}selected{% endif %}>中文 (中国)</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>