{% extends "html/core/base.html" %}

{% block content %}
<!-- Dashboard Content Section -->
<section class="section">
    <div class="container">
        <h1 class="title has-text-white">{{ g.translations['Dashboard'] }}</h1>
        <div class="columns is-multiline">
            <!-- Card 1 -->
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ g.translations['Component'] }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{ g.translations['Information_Component'] }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ g.translations['Order'] }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{ g.translations['Information_Order'] }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ g.translations['Alerts'] }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{ g.translations['Information_Alerts'] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}