{% extends "html/core/base.html" %}

{% block content %}
<h1 class="title">
  PyERP
</h1>
<h2 class="subtitle">
  Not Just An ERP System in Python
</h2>
<br>
{% if current_user.is_authenticated %}
<form method="GET" action="{{ url_for('core.dashboard') }}">
<button class="button is-block is-info" style="margin: 0 auto; text-align: center;">To Dashboard</button>
</form>
{% endif %}
{% if not current_user.is_authenticated %}
<form method="GET" action="{{ url_for('auth.login') }}">
<button class="button is-block is-info" style="margin: 0 auto; text-align: center;">To Dashboard</button>
</form>
{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}