{% extends "html/core/base.html" %}

{% block content %}
<!-- Dashboard Content Section -->
<section class="section">
    <div class="container">
        <h1 class="title has-text-white">Dashboard</h1>
        <div class="columns is-multiline">
            <!-- Card 1 -->
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Users
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p>User online: {{user_list}}</p>
                            <form method="GET" action="{{ url_for('core.user_manager') }}">
                                <button class="button is-block is-info" style="margin: 0 auto;">To Users Manager</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Orders
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Latest orders details...
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Alerts
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Critical alerts here...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}