{% extends "./html/base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Create New User</h3>
    <div class="box">
        <form method="POST" action="/create_user">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="employeeId" placeholder="EmployeeID" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="dept" placeholder="Department" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Create</button>
        </form>
    </div>
</div>
{% endblock %}