{% extends "html/core/base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Edit User</h3>
    <div class="box">
        <form method="POST" action="">
            <div class="field">
                <label class="label">Name:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Full Name" value="{{ user.Name }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Department:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="dept" placeholder="Department" value="{{ user.Dept }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Email:</label>
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email Address" value="{{ user.Email }}">
                </div>
            </div>

            <div class="field">
                <label class="label">Name:</label>
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="New Password" autocomplete="off">
                </div>
            </div>
            <!-- Add more fields as necessary -->
            <button class="button is-block is-info is-large is-fullwidth">Update User</button>
        </form>
    </div>
</div>
{% endblock %}
