{% extends "./html/base.html" %}

{% block content %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            {% if current_user.is_authenticated %}
            <a class="navbar-item" href="/dashboard">Dashboard</a>
            <a class="navbar-item" href="/logout">Logout</a>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <a class="navbar-item" href="/login">Login</a>
            {% endif %}
            <a class="navbar-item" href="/inventory">Inventory</a>
            <a class="navbar-item" href="/sales">Sales</a>
            <a class="navbar-item" href="/purchases">Purchases</a>
            <a class="navbar-item" href="/design">Design Center</a>
            <a class="navbar-item" href="/report">Report A Bug</a>
        </div>
    </div>
</nav>
<div class="column is-4 is-offset-4">
    <h3 class="title">Edit User</h3>
    <div class="box">
        <form method="POST" action="">
            <div class="field">
                <label class="label">Name:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Full Name" value="{{ user.Name }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Department:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="dept" placeholder="Department" value="{{ user.Dept }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">Email:</label>
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email Address" value="{{ user.Email }}">
                </div>
            </div>

            <div class="field">
                <label class="label">Name:</label>
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="New Password" autocomplete="off">
                </div>
            </div>
            <!-- Add more fields as necessary -->
            <button class="button is-block is-info is-large is-fullwidth">Update User</button>
        </form>
    </div>
</div>
{% endblock %}
