{% extends "html/core/base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{{ g.translations['Login'] }}</h3>
    <div class="box">
        <form method="POST" action="{{ url_for('auth.login') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="{{ g.translations['Your Email'] }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="{{ g.translations['Your Password'] }}">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    {{ g.translations['Remember me'] }}
                </label>
            </div>
            <div class="field">
                <!-- Google reCAPTCHA widget -->
                <div class="g-recaptcha" data-sitekey="6LfKCfUpAAAAALmlhIizeAQqSga4gevb2UD1s7EC"></div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">{{ g.translations['Login'] }}</button>
        </form>
        {% if error %}
        <p class="help is-danger">{{ error }}</p>
        {% endif %}
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}