{% extends "html/core/base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{{ g.translations['Edit_Item'] }}</h3>
    <div class="box">
        <form method="POST" action="">
            <div class="field">
                <label class="label">{{ g.translations['Item_Name'] }}</label>
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Item Name" value="{{ item.I_Name }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">{{ g.translations['Item_Disc'] }}</label>
                <div class="control">
                    <input class="input is-large" type="text" name="disc" placeholder="Description for Item" value="{{ item.Dept }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label">{{ g.translations['In_Date'] }}</label>
                <div class="control">
                    <input class="input is-large" type="text" name="in_date" placeholder="In Date" value="{{ item.InDate }}">
                </div>
            </div>

            <div class="field">
                <label class="label">Warehouse Number:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="warehouse_num" placeholder="Warehouse Number" autocomplete="off">
                </div>
            </div>

            <div class="field">
                <label class="label">Quantity:</label>
                <div class="control">
                    <input class="input is-large" type="text" name="quantity" placeholder="Quantity" autocomplete="off">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Update Item</button>
        </form>
    </div>
</div>
{% endblock %}
