{% extends "html/core/base.html" %}

{% block content %}
<!-- Inventory Summary Card -->
<section class="section">
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{ _('Inventory Space Usage') }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <img src="./static/inventory_space.png" alt="{{ _('Inventory Space Usage') }}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inventory Items List -->
<section class="section">
    <div class="container">
        <h1 class="title has-text-white">{{ _('Inventory Items') }}</h1>
        <div class="columns is-multiline">
            <div class="column is-full">
                <div class="box">
                    <table border="1" style="width: 100%; border-collapse: collapse; :nth-child(even) { background-color: #f9f9f9;}}">
                        <thead>
                            <tr style=":hover { background-color: #ddf;}">
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Item ID') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Name') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Description') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('In Date') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Out Date') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Warehouse Number') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Quantity') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Edit') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Check Out') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr style=":hover { background-color: #ddf; :nth-child(even) { background-color: #f9f9f9;}}">
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ item.ItemID }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ item.I_Name }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ item.I_Disc }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ item.InDate }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ item.OutDate }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ item.Warehouse_Num }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ item.Quantity }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">
                                    <form method="POST" action="/inventory/inventory">
                                        <input type="hidden" name="item_id" value="{{ item.ItemID }}">
                                        <button type="submit" name="action" value="i_edit" class="button is-info">{{ _('Edit') }}</button>
                                    </form>
                                </td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">
                                    <form method="POST" action="/inventory/inventory">
                                        <input type="hidden" name="item_id" value="{{ item.ItemID }}">
                                        <button type="submit" name="action" value="i_check_out" class="button is-info">{{ _('Check Out') }}</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <form method="GET" action="/inventory/check_in_item">
                        <button type="submit" name="action" value="add" class="button is-info" style="align-self: last baseline;">{{ _('Check In New Items') }}</button>
                    </form>
                </div>
            </div>
        </div>
        <h1 class="title has-text-white">{{ _('Checked Out Items') }}</h1>
        <div class="columns is-multiline">
            <div class="column is-full">
                <div class="box">
                    <table border="1" style="width: 100%; border-collapse: collapse; :nth-child(even) { background-color: #f9f9f9;}">
                        <thead>
                            <tr style=":hover { background-color: #ddf;}">
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Item ID') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Name') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Description') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('In Date') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Out Date') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Warehouse Number') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Quantity') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Edit') }}</th>
                                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4; color: #333;">{{ _('Remove') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c_item in c_items %}
                            <tr style=":hover { background-color: #ddf; :nth-child(even) { background-color: #f9f9f9;}}">
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ c_item.ItemID }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ c_item.I_Name }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ c_item.I_Disc }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ c_item.InDate }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ c_item.OutDate }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ c_item.Warehouse_Num }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ c_item.Quantity }}</td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">
                                    <form method="POST" action="/inventory/inventory">
                                        <input type="hidden" name="item_id" value="{{ c_item.ItemID }}">
                                        <button type="submit" name="action" value="o_edit" class="button is-info">{{ _('Edit') }}</button>
                                    </form>
                                </td>
                                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">
                                    <form method="POST" action="/inventory/inventory">
                                        <input type="hidden" name="item_id" value="{{ c_item.ItemID }}">
                                        <button type="submit" name="action" value="o_del" class="button is-info">{{ _('Remove') }}</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}